<div class="user-view">
  <h2 class="user-view__title">Dados do Usuário:</h2>
  <div *ngIf="user" class="user-view__info">
    <div class="user-view__name">
      <span>Nome:</span>
      <p id="user-name">{{ user.name }}</p>
    </div>
    <div class="user-view__email">
      <span>E-mail:</span>
      <p id="user-email">{{ user.email }}</p>
    </div>
    <div class="user-view__address">
      <span>Endereço:</span>
      <p id="user-address">{{ user.address.street }}{{ ', ' + user.address.suite }} {{ ' | ' + user.address.city }}</p>
    </div>
  </div>
</div>
