<div class="posts">
  <ng-container *ngFor="let post of posts; let i = index">
    <div
      [id]="'post-item-' + i"
      [ngClass]="{ 'posts__item--without-border-bottom': currentExpanded === post.id }"
      class="posts__item"
      (click)="toggleExpandedState(post.id, $event)"
    >
      <div class="item__info">
        <h3 class="item__title">{{ post.title }}</h3>
        <p class="item__description">
          {{ post.body }}
        </p>
      </div>
      <button [id]="'button-delete-' + i" class="item__button-delete button" (click)="handleDelete(post.id, $event)">
        Apagar
      </button>
    </div>
    <app-comments-list *ngIf="post.id === currentExpanded" [postId]="post.id"></app-comments-list>
  </ng-container>
</div>
