<div class="user-filter">
  <p class="user-filter__title">Filtrar por:</p>
  <form class="user-filter__form" [formGroup]="form">
    <input formControlName="name" type="text" [placeholder]="'Nome'" class="form__name" name="name" id="name" />
    <input
      formControlName="username"
      type="text"
      [placeholder]="'Username'"
      class="form__username"
      name="username"
      id="username"
    />
    <input formControlName="email" type="email" [placeholder]="'E-mail'" class="form__email" name="email" id="email" />
    <button id="button-filter" class="form__filter button" (click)="handleFilter()">Filtrar</button>
  </form>
</div>
