@import 'variables';

:host {
  .comment-list {
    padding: $spacing-3x;
    padding-bottom: 0;
    border: 1px solid map-get($colors, 'light-gray3');
    border-radius: 4px;
    border-top: 0;
    margin-bottom: $spacing-4x;

    &__item {
      margin-bottom: $spacing-4x;
      padding: 0 $spacing-3x;
      padding-bottom: $spacing-3x;
      border-bottom: 1px solid map-get($colors, 'light-gray2');
    }

    &__title {
      margin-bottom: $spacing-2x;
      color: map-get($colors, 'dark-gray1');
      font-size: $font-size-medium;
    }

    &__description {
      color: map-get($colors, 'dark-gray2');
      font-size: $font-size-small;
    }
  }
}
