<header class="menu">
  <div class="menu__logo">
    <img src="/src/assets/images/audsat-logo.svg" alt="Audsat logo" />
  </div>
  <nav class="menu__links">
    <ul>
      <button class="menu__home">
        <a href="/home" class="menu__home">Home</a>
      </button>
      <button class="menu__admin">
        <a href="/admin" class="menu__admin">Admin</a>
      </button>
      <button class="menu__logs">
        <a href="/logs" class="menu__logs">Logs</a>
      </button>
    </ul>
  </nav>
</header>
