@import 'variables';

:host {
  .menu {
    display: flex;
    justify-content: space-between;
    padding: $spacing-5x $spacing-10x;
    height: $height-header;
    background-color: map-get($colors, 'dark-blue1');

    @media screen and (max-width: 620px) {
      flex-direction: column;
      align-items: center;
      height: fit-content;
    }

    &__logo {
      img {
        width: 140px;
        height: 100%;
      }
    }

    &__links {
      @media screen and (max-width: 620px) {
        margin-top: $spacing-4x;
      }

      ul {
        padding: 0;
        margin: 0;
        display: flex;
        gap: $spacing-4x;
        transition: .2s;

        a {
        transition: .2s;
        padding: $spacing-2x $spacing-8x;
        }
      }
    }
  }
}
