<div class="user-list">
  <h2 class="user-list__title">Lista de usuários</h2>
  <app-user-filter (filter)="getUsers($event)"></app-user-filter>
  <!-- Tabela de usuários -->
  <table class="user-list__table">
    <thead>
      <tr>
        <th class="table__column">Nome</th>
        <th class="table__column">Username</th>
        <th class="table__column">E-mail</th>
        <th class="table__column">Telefone</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users" (click)="handleUserPosts(user)">
        <td class="table__cell">{{ user.name }}</td>
        <td class="table__cell">{{ user.username }}</td>
        <td class="table__cell">{{ user.email }}</td>
        <td class="table__cell">{{ user.phone }}</td>
      </tr>
    </tbody>
  </table>
</div>
