@import 'variables';

:host {
  .user-list {
    display: flex;
    flex-direction: column;
    height: calc(100% - $height-header);
    width: 100%;
    padding: 0 60px;
    padding-top: $spacing-10x;

    &__title {
      margin-bottom: $spacing-5x;
      padding-bottom: $spacing-x;
      font-size: $font-size-large;
      width: 100%;

      border-bottom: 1px solid map-get($colors, 'light-gray2');
      color: map-get($colors, 'dark-gray1');

      @media screen and (max-width: 720px) {
        font-size: $font-size-big-extra;
      }
    }

    &__table {
      margin-top: $spacing-8x;
      border-spacing: 0;
      width: 100%;
      padding-bottom: 96px;

      tbody tr {
        transition: all .2s;

        &:nth-child(odd) {
          background-color: transparent;

          &:hover {
            filter: brightness(20%);
          }
        }

        &:nth-child(even) {
          background-color: map-get($colors, 'light-gray2');

          &:hover {
            filter: brightness(90%);
          }
        }
      }
    }
  }

  .table {
    &__column {
      text-align: left;
      padding: $spacing-4x $spacing-4x $spacing-4x $spacing-2x;
      background-color: map-get($colors, 'dark-gray2');
      color: map-get($colors, 'light-gray1');
      font-weight: 400;
      transition: all .2s;

      @media screen and (max-width: 720px) {
        padding: $spacing-3x $spacing-4x $spacing-3x $spacing-2x;
        font-size: $font-size-small;
      }
    }

    &__cell {
      padding: $spacing-4x $spacing-4x $spacing-4x $spacing-2x;
      font-size: $font-size-small;
      color: map-get($colors, 'dark-gray1');
      text-align: left;
      min-width: 36px;
      transition: all .2s;

      @media screen and (max-width: 720px) {
        font-size: $font-size-small-extra;
        padding: $spacing-3x $spacing-4x $spacing-3x $spacing-x;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
}
